<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.AdvertInfoMapper">
	<resultMap id="BaseResultMap" type="com.yh.model.AdvertInfo">
		<result column="advertid" jdbcType="VARCHAR" property="advertid" />
		<result column="advertname" jdbcType="VARCHAR" property="advertname" />
		<result column="provinceid" jdbcType="VARCHAR" property="provinceid" />
		<result column="cityid" jdbcType="VARCHAR" property="cityid" />
		<result column="countyid" jdbcType="VARCHAR" property="countyid" />
		<result column="ordernum" jdbcType="VARCHAR" property="ordernum" />
		<result column="imageurl" jdbcType="VARCHAR" property="imageurl" />
		<result column="detailpage" jdbcType="VARCHAR" property="detailpage" />
		<result column="createtime" jdbcType="VARCHAR" property="createtime" />
		<result column="creatorid" jdbcType="VARCHAR" property="creatorid" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="memo" jdbcType="VARCHAR" property="memo" />
	</resultMap>
	<insert id="insertAdvert" parameterType="com.yh.model.AdvertInfo">
		insert into advert_info(advertid, advertname, provinceid,cityid, countyid, ordernum,
		imageurl,detailpage, createtime,creatorid, status, memo	)
		values (#{advertid,jdbcType=VARCHAR}, #{advertname,jdbcType=VARCHAR},
		#{provinceid,jdbcType=VARCHAR},	#{cityid,jdbcType=VARCHAR},
		#{countyid,jdbcType=VARCHAR}, #{ordernum,jdbcType=VARCHAR},
		#{imageurl,jdbcType=VARCHAR}, #{detailpage,jdbcType=VARCHAR},
		#{createtime,jdbcType=VARCHAR},	#{creatorid,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}	)
	</insert>
	<insert id="insertSelective" parameterType="com.yh.model.AdvertInfo">
		insert into advert_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="advertid != null">
				advertid,
			</if>
			<if test="advertname != null">
				advertname,
			</if>
			<if test="provinceid != null">
				provinceid,
			</if>
			<if test="cityid != null">
				cityid,
			</if>
			<if test="countyid != null">
				countyid,
			</if>
			<if test="ordernum != null">
				ordernum,
			</if>
			<if test="imageurl != null">
				imageurl,
			</if>
			<if test="detailpage != null">
				detailpage,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="creatorid != null">
				creatorid,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="advertid != null">
				#{advertid,jdbcType=VARCHAR},
			</if>
			<if test="advertname != null">
				#{advertname,jdbcType=VARCHAR},
			</if>
			<if test="provinceid != null">
				#{provinceid,jdbcType=VARCHAR},
			</if>
			<if test="cityid != null">
				#{cityid,jdbcType=VARCHAR},
			</if>
			<if test="countyid != null">
				#{countyid,jdbcType=VARCHAR},
			</if>
			<if test="ordernum != null">
				#{ordernum,jdbcType=VARCHAR},
			</if>
			<if test="imageurl != null">
				#{imageurl,jdbcType=VARCHAR},
			</if>
			<if test="detailpage != null">
				#{detailpage,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				#{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="getAllAdvert" resultMap="BaseResultMap" parameterType="com.yh.model.AdvertInfo">
		select advertid,advertname,provinceid,cityid,countyid,ordernum,imageurl,
  		detailpage,createtime,creatorid,status,memo,
		(select areaname from dic_area n where m.provinceid=n.areaid) as provincename,
		(select areaname from dic_area n where m.cityid=n.areaid) as cityname,
		(select areaname from dic_area n where m.countyid=n.areaid) as countyname
		from advert_info m where 1=1
		<if test="advertname != null and advertname !=''">
			and advertname = #{advertname}
		</if>
		<if test="status != null and status !=''">
			and status = #{status}
		</if>
		order by createtime desc,provinceid,cityid
	</select>
	<select id="getAdvertById" resultMap="BaseResultMap" parameterType="com.yh.model.AdvertInfo">
		select advertid,advertname,provinceid,cityid,countyid,ordernum,imageurl,
  		detailpage,createtime,creatorid,status,memo from advert_info where advertid = #{advertid}
	</select>
	<update id="updateAdvertById" parameterType="com.yh.model.AdvertInfo">
		update advert_info set  advertname=#{advertname},provinceid=#{provinceid},cityid=#{cityid},
  		countyid=#{countyid},ordernum=#{ordernum},imageurl=#{imageurl},detailpage=#{detailpage},
   		status=#{status},memo=#{memo} where advertid =#{advertid}
	</update>
	<delete  id="deleteAdvertById" parameterType="com.yh.model.AdvertInfo">
  		delete from  advert_info where  advertid=#{advertid}
  	</delete>
</mapper>