<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.DicOilsMapper">
  <resultMap id="BaseResultMap" type="com.yh.model.DicOils">
    <result column="oilsid" jdbcType="VARCHAR" property="oilsid" />
    <result column="oilscode" jdbcType="VARCHAR" property="oilscode" />
    <result column="oilsname" jdbcType="VARCHAR" property="oilsname" />
    <result column="oilsdesc" jdbcType="VARCHAR" property="oilsdesc" />
    <result column="oilstype" jdbcType="VARCHAR" property="oilstype" />
    <result column="ordernum" jdbcType="VARCHAR" property="ordernum" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="creatorid" jdbcType="VARCHAR" property="creatorid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <insert id="insert" parameterType="com.yh.model.DicOils">
    insert into dic_oils (oilsid, oilscode, oilsname, 
      oilsdesc, oilstype, ordernum, 
      createtime, creatorid, status, 
      memo)
    values (#{oilsid,jdbcType=VARCHAR}, #{oilscode,jdbcType=VARCHAR}, #{oilsname,jdbcType=VARCHAR}, 
      #{oilsdesc,jdbcType=VARCHAR}, #{oilstype,jdbcType=VARCHAR}, #{ordernum,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.model.DicOils">
    insert into dic_oils
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oilsid != null">
        oilsid,
      </if>
      <if test="oilscode != null">
        oilscode,
      </if>
      <if test="oilsname != null">
        oilsname,
      </if>
      <if test="oilsdesc != null">
        oilsdesc,
      </if>
      <if test="oilstype != null">
        oilstype,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="creatorid != null">
        creatorid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="memo != null">
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oilsid != null">
        #{oilsid,jdbcType=VARCHAR},
      </if>
      <if test="oilscode != null">
        #{oilscode,jdbcType=VARCHAR},
      </if>
      <if test="oilsname != null">
        #{oilsname,jdbcType=VARCHAR},
      </if>
      <if test="oilsdesc != null">
        #{oilsdesc,jdbcType=VARCHAR},
      </if>
      <if test="oilstype != null">
        #{oilstype,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getDicOilsList" resultMap="BaseResultMap"  parameterType="com.yh.model.DicOils">
    select oilsid,oilscode,oilsname,oilsdesc,oilstype,ordernum,createtime,creatorid,status,memo 
    from dic_oils where status='1' order by ordernum
  </select>
  <select id="getDicOilsAllList" resultMap="BaseResultMap"  parameterType="com.yh.model.DicOils">
    select oilsid,oilscode,oilsname,oilsdesc,oilstype,ordernum,status from dic_oils where status='1' order by ordernum
  </select>
  
</mapper>