<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.DicPublicKeyMapper">
  <resultMap id="BaseResultMap" type="com.yh.model.DicPublicKey">
    <result column="publickeyid" jdbcType="VARCHAR" property="publickeyid" />
    <result column="keycode" jdbcType="VARCHAR" property="keycode" />
    <result column="keyname" jdbcType="VARCHAR" property="keyname" />
    <result column="keyvalue" jdbcType="VARCHAR" property="keyvalue" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <insert id="insertPublicKey" parameterType="com.yh.model.DicPublicKey">
    insert into dic_publickey (publickeyid,keycode,keyname,keyvalue,createtime,status,memo)
    values (#{publickeyid,jdbcType=VARCHAR}, #{keycode,jdbcType=VARCHAR}, #{keyname,jdbcType=VARCHAR}, 
      #{keyvalue,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.model.DicPublicKey">
    insert into dic_publickey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="publickeyid != null">
        publickeyid,
      </if>
      <if test="keycode != null">
        keycode,
      </if>
      <if test="keyname != null">
        keyname,
      </if>
      <if test="keyvalue != null">
        keyvalue,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="memo != null">
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="publickeyid != null">
        #{publickeyid,jdbcType=VARCHAR},
      </if>
      <if test="keycode != null">
        #{keycode,jdbcType=VARCHAR},
      </if>
      <if test="keyname != null">
        #{keyname,jdbcType=VARCHAR},
      </if>
      <if test="keyvalue != null">
        #{keyvalue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getPublicKeyByCode" resultMap="BaseResultMap" parameterType="com.yh.model.DicPublicKey">
  	select keycode,keyname,keyvalue,status  from dic_publickey 
  	where keycode=#{keycode} 
  </select>
</mapper>