<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.MemberInfoMapper">
	<resultMap id="BaseResultMap" type="com.yh.model.MemberInfo">
		<result column="memberid" jdbcType="VARCHAR" property="memberid" />
		<result column="membercode" jdbcType="INTEGER" property="membercode" />
		<result column="logincode" jdbcType="VARCHAR" property="logincode" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="memberphone" jdbcType="VARCHAR" property="memberphone" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="carnum" jdbcType="VARCHAR" property="carnum" />
		<result column="registertime" jdbcType="VARCHAR" property="registertime" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="headimg" jdbcType="VARCHAR" property="headimg" />
		<result column="integral" jdbcType="INTEGER" property="integral" />
		<result column="islogin" jdbcType="VARCHAR" property="islogin" />
		<result column="lastlogtime" jdbcType="VARCHAR" property="lastlogtime" />
		<result column="openid" jdbcType="VARCHAR" property="openid" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="statusdesc" jdbcType="VARCHAR" property="statusdesc" />
		<result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
		<result column="memo" jdbcType="VARCHAR" property="memo" />
	</resultMap>
	<insert id="insertMember" parameterType="com.yh.model.MemberInfo">
		insert into member_info	(memberid, membercode, logincode,realname,
		memberphone, password,carnum,registertime,sex, birthday, headimg,
		integral,islogin,lastlogtime,openid,status,isdelete,memo)	
		values(#{memberid,jdbcType=VARCHAR}, #{membercode,jdbcType=INTEGER},
		#{logincode,jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR},#{memberphone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{carnum,jdbcType=VARCHAR}, #{registertime,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},
		#{birthday,jdbcType=VARCHAR},#{headimg,jdbcType=VARCHAR}, #{integral,jdbcType=INTEGER},
		#{islogin,jdbcType=VARCHAR}, #{lastlogtime,jdbcType=VARCHAR},
		#{openid,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{statusdesc,jdbcType=VARCHAR},
		#{isdelete,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR})
	</insert>
	<select id="getMemberList" resultMap="BaseResultMap" parameterType="com.yh.model.MemberInfo">
		select * from member_info where 1=1
		<if test="membercode != null and membercode !=''">
			and membercode =#{membercode}
		</if>
		<if test="logincode != null and logincode !=''">
			and logincode =#{logincode}
		</if>
		<if test="realname != null and realname !=''">
			and realname =#{realname}
		</if>
		<if test="memberphone != null and memberphone !=''">
			and memberphone =#{memberphone}
		</if>
		order by membercode desc
	</select>
	<select id="getMemberById" resultMap="BaseResultMap" parameterType="com.yh.model.MemberInfo">
		select * from member_info where memberid =#{memberid}
	</select>
	<update id="updateMemberById" parameterType="com.yh.model.MemberInfo">
		update member_info set 1=1 where memberid=#{memberid}
	</update>
	<delete id="deleteMemberById" parameterType="com.yh.model.MemberInfo">
		delete from member_info where memberid=#{memberid}
	</delete>
</mapper>