<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.MemberAddressMapper">
  <resultMap id="BaseResultMap" type="com.yh.model.MemberAddress">
    <result column="maddressid" jdbcType="VARCHAR" property="maddressid" />
    <result column="memberid" jdbcType="VARCHAR" property="memberid" />
    <result column="provinceid" jdbcType="VARCHAR" property="provinceid" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
    <result column="countryid" jdbcType="VARCHAR" property="countryid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="CreatorId" jdbcType="VARCHAR" property="creatorid" />
  </resultMap>
  <insert id="insert" parameterType="com.yh.model.MemberAddress">
    insert into member_address (maddressid, memberid, provinceid, 
      cityid, countryid, address, 
      CreatorId)
    values (#{maddressid,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{provinceid,jdbcType=VARCHAR}, 
      #{cityid,jdbcType=VARCHAR}, #{countryid,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{creatorid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.model.MemberAddress">
    insert into member_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maddressid != null">
        maddressid,
      </if>
      <if test="memberid != null">
        memberid,
      </if>
      <if test="provinceid != null">
        provinceid,
      </if>
      <if test="cityid != null">
        cityid,
      </if>
      <if test="countryid != null">
        countryid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="creatorid != null">
        CreatorId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maddressid != null">
        #{maddressid,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null">
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null">
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="countryid != null">
        #{countryid,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>