<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.dao.ShopMapper">
	<resultMap id="BaseResultMap" type="com.yh.model.Shop">
	    <result column="shopid"  jdbcType="VARCHAR" property="shopid" />
	    <result column="memberid" jdbcType="VARCHAR" property="memberid" />
	    <result column="shopcode" jdbcType="INTEGER" property="shopcode" />
	    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
	    <result column="shopdesc" jdbcType="VARCHAR" property="shopdesc" />
	    <result column="shopservice" jdbcType="VARCHAR" property="shopservice" />
	    <result column="provinceid" jdbcType="VARCHAR" property="provinceid" />
	    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
	    <result column="address" jdbcType="VARCHAR" property="address" />	   
	    <result column="shoplogo" jdbcType="VARCHAR" property="shoplogo" />
	    <result column="shopimg" jdbcType="VARCHAR" property="shopimg" />
	    <result column="leadername" jdbcType="VARCHAR" property="leadername" />
	    <result column="leadertel" jdbcType="VARCHAR" property="leadertel" />
	    <result column="leaderemail" jdbcType="VARCHAR" property="leaderemail" />
	    <result column="accountbank" jdbcType="VARCHAR" property="accountbank" />
	    <result column="accountnums" jdbcType="VARCHAR" property="accountnums" />
	    <result column="accountname" jdbcType="VARCHAR" property="accountname" />
	    <result column="licenseimg" jdbcType="VARCHAR" property="licenseimg" />
	    <result column="prolicenseimg" jdbcType="VARCHAR" property="prolicenseimg" />
	    <result column="cardtop" jdbcType="VARCHAR" property="cardtop" />
	    <result column="carddown" jdbcType="VARCHAR" property="carddown" />
	    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
	    <result column="creatorid" jdbcType="VARCHAR" property="creatorid" />
	    <result column="isdelete" jdbcType="VARCHAR" property="isdelete" />
	    <result column="status" jdbcType="VARCHAR" property="status" />
	    <result column="memo" jdbcType="VARCHAR" property="memo" />
	    <result column="mchid" jdbcType="VARCHAR" property="mchid" />
	    <result column="trmno" jdbcType="VARCHAR" property="trmno" />
	    <result column="shopkey" jdbcType="VARCHAR" property="shopkey" />
	    <result column="areadesc" jdbcType="VARCHAR" property="areadesc" />
	    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
	    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
	</resultMap>
	<insert id="insert" parameterType="com.yh.model.Shop">
	    insert into shop_info (shopid, memberid, shopcode,shopname, shopdesc, shopservice, 
	      provinceid, cityid, address, shoplogo, shopimg, 
	      leadername, leadertel, leaderemail, accountbank, accountnums, accountname, 
	      licenseimg, prolicenseimg, cardtop,carddown, createtime, creatorid, 
	      isdelete, status, memo,mchid, trmno, shopkey,areadesc,longitude,latitude )
	    values (#{shopid,jdbcType=VARCHAR}, #{memberid,jdbcType=VARCHAR}, #{shopcode,jdbcType=INTEGER}, 
	      #{shopname,jdbcType=VARCHAR}, #{shopdesc,jdbcType=VARCHAR}, #{shopservice,jdbcType=VARCHAR}, 
	      #{provinceid,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
	      #{shoplogo,jdbcType=VARCHAR}, #{shopimg,jdbcType=VARCHAR}, 
	      #{leadername,jdbcType=VARCHAR}, #{leadertel,jdbcType=VARCHAR}, #{leaderemail,jdbcType=VARCHAR}, 
	      #{accountbank,jdbcType=VARCHAR}, #{accountnums,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
	      #{licenseimg,jdbcType=VARCHAR}, #{prolicenseimg,jdbcType=VARCHAR}, #{cardtop,jdbcType=VARCHAR}, 
	      #{carddown,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, 
	      #{isdelete,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
	      #{mchid,jdbcType=VARCHAR}, #{trmno,jdbcType=VARCHAR}, #{shopkey,jdbcType=VARCHAR},
	      #{areadesc,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE} )
	</insert>  	
 	<select id="getShopById" resultMap="BaseResultMap"	parameterType="com.yh.model.Shop">
		select *,
		(select n.areaname from dic_area n where m.provinceid=n.areaid) as provicename,
		(select n.areaname from dic_area n where m.cityid=n.areaid) as cityname,
		(select n.areaname from dic_area n where m.countyid=n.areaid) as countyname
		 from shop_info m where isdelete='1' and shopid = #{shopid}
	</select>
	<select id="getShopAddList" resultMap="BaseResultMap"	parameterType="com.yh.model.Shop">
		select shopid,shopcode,shopname,status,createtime,shopimg,areadesc
		from shop_info m where isdelete='1'
		<if test="shopname != null and shopname !=''">
			and shopname like "%"#{shopname}"%"
		</if>
		<if test="status != null and status !=''">
			and status = #{status}
		</if>
		<if test="status == null or status ==''">
			and status in('0','1','2')
		</if>
		order by shopcode desc
	</select>
 	<select id="getShopList" resultMap="BaseResultMap"	parameterType="com.yh.model.Shop">
		select shopid,shopcode,shopname,status,createtime,shopimg,areadesc
		from shop_info m where isdelete='1'
		<if test="shopname != null and shopname !=''">
			and shopname like "%"#{shopname}"%"
		</if>
		<if test="status != null and status !=''">
			and status = #{status}
		</if>
		order by shopcode desc
	</select>
	<update id="updateShopStatus" parameterType="com.yh.model.Shop">
	     update shop_info set status=#{status} ,longitude=#{longitude},latitude=#{latitude} where shopid=#{shopid}             
	</update>
	<update  id="deleteShop" parameterType="com.yh.model.Shop">
 		 update shop_info set isdelete='0' where shopid=#{shopid}             
 	</update >
  	<select id="getShopCheckList" resultMap="BaseResultMap"	parameterType="com.yh.model.Shop">
		select m.shopid,n.submittime,shopname,address,n.status as checkstatus,areadesc,
		(select areaname from dic_area n where m.provinceid=n.areaid) as provicename,
		(select areaname from dic_area n where m.cityid=n.areaid) as cityname,
		(select areaname from dic_area n where m.countyid=n.areaid) as countyname,
		(select concat_ws("-",membercode,phonenum,realname) from member_info t where t.memberid=n.submitterid) member
		from shop_info m left join shop_check n on n.status='0' and m.shopid=n.shopid 
		where m.isdelete='1' and m.status ='1'
		<if test="shopname != null and shopname !=''">
			and shopname like "%"#{shopname}"%"
		</if>
		<if test="checkstatus != null and checkstatus !=''">
			and n.status = #{checkstatus}
		</if>
		order by submittime desc
	</select>
	<select id="getShopByRight" resultMap="BaseResultMap"	parameterType="com.yh.model.Shop">
		select shopid,shopcode,shopname,status,createtime,shopimg,areadesc from shop_info where isdelete='1'		
		order by shopcode
	</select>
	<update  id="saveShopXY" parameterType="com.yh.model.Shop">
 		 update shop_info set longitude=#{longitude},latitude=#{latitude} where shopid=#{shopid}             
 	</update > 
 	<update  id="submitShopSetting" parameterType="com.yh.model.Shop">
 		 update shop_info set accountname=#{accountname},accountnums=#{accountnums},accountbank=#{accountbank} where shopid=#{shopid}             
 	</update >
 	
</mapper>