@charset "UTF-8";
header {
  width: 1200px;
  margin: 20px auto;
  position: relative;
  overflow: auto;
}
.logo {
  float: left;
  overflow: hidden;
}
.logo img {
  vertical-align: bottom;
}
.logo span {
  vertical-align: bottom;
  position: relative;
  top: -8px;
  color: #666666;
  font-size: 20px;
  margin-left: 20px;
}
.login {
  float: right;
  vertical-align: bottom;
  position: absolute;
  bottom: 8px;
  right: 0;
}
.login li {
  float: left;
  margin-left: 20px;
}
.login li a {
  color: #666666;
}
.resigter_con {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  font-size: 0;
  margin-top: 50px;
}
.resigter_con .progress {
  width: 500px;
  margin: 100px auto 50px;
}
.resigter_con .progress ul {
  width: 100%;
}
.resigter_con .progress ul li {
  display: inline-block;
}
.resigter_con .progress ul li p {
  font-size: 16px;
  margin-top: 10px;
  position: relative;
  left: -15px;
}
.resigter_con .progress ul li .L7 {
  left: -10px;
}
.resigter_con .progress ul li .L0 {
  left: 0;
}
.resigter_con .progress .squre {
  width: 30px;
  height: 30px;
  background: #999999;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-indent: -3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.resigter_con .progress .second {
  margin-left: 2px;
}
.resigter_con .progress img {
  vertical-align: middle;
  display: inline-block;
}
.resigter_con .tab {
  width: 472px;
  margin: 0 auto;
}
.resigter_con .tab .phone,
.resigter_con .tab .thirdPassword,
.resigter_con .tab .thirdPasswordAgain {
  width: 362px;
  height: 38px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 16px;
  text-indent: 5px;
}
.resigter_con .tab .thirdPasswordAgain {
  margin-top: 20px;
}
.resigter_con .tab .input_group {
  width: 100%;
  font-size: 0;
  margin-top: 20px;
}
.resigter_con .tab .input_group input {
  width: 228px;
  height: 38px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 16px;
  text-indent: 5px;
}
.resigter_con .tab .input_group img {
  width: 123px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}
.resigter_con .tab .input_group span {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  cursor: pointer;
}
.resigter_con .tab .Fourthsub,
.resigter_con .tab .Secondsub,
.resigter_con .tab .Thirdsub,
.resigter_con .tab .sub {
  width: 362px;
  height: 38px;
  background: #d73535;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  border: none;
  margin-top: 20px;
  margin-bottom: 90px;
}
footer {
  text-align: center;
  color: #787777;
  position: fixed;
  bottom: 20px;
  width: 100%;
  font-size: 20px;
}
.find_alert {
  font-size: 14px;
  color: #999999;
  width: 100%;
  line-height: 25px;
}
.find_alert mark {
  background: none;
  color: #999999;
  font-size: 14px;
}
.sendyzm {
  width: 123px;
  height: 40px;
  margin-left: 10px;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  line-height: 40px;
  background: #ff9934;
  color: white;
  cursor: pointer;
}
.tab {
  display: none;
}
.act .squre {
  background: #ff9934!important;
}
