@import "../../css/v/head.css";
@import "../../css/v/footer.css";
@import "../../css/static/reset.css";
@import "../../css/static/cityselect.css";
@charset "utf-8";
body {
  background-color: #FFFFFF;
}
.footer {
  margin-top: 0!important;
}
.statusNow {
  width: 1200px;
  height: 83px;
  margin: 0 auto;
}
.statusNow img {
  display: block;
  width: 100%;
  height: 100%;
}
.linkmanInformation {
  width: 1200px;
  margin: 20px auto 0;
  border: 1px solid #CCCCCC;
  padding-bottom: 20px;
}
.linkmanInformation .title {
  font-size: 14px;
  color: #333333;
  padding: 10px 0 0 10px;
}
.itemWrap {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.itemWrap > div {
  float: left;
}
.itemWrap .itemName {
  width: 167px;
  height: 30px;
  text-align: right;
  line-height: 30px;
}
.itemWrap .itemName span:nth-child(1) {
  font-size: 14px;
  color: #D73535;
  margin-right: 4px;
  position: relative;
  top: 3px;
}
.itemWrap .itemName span:nth-child(2) {
  font-size: 14px;
  color: #666666;
}
.itemWrap .inputWrap {
  width: 300px;
  height: 30px;
  border: 1px solid #CCCCCC;
  margin-left: 20px;
}
.itemWrap .inputWrap input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  line-height: 28px;
  outline: none;
  color: #666666;
}
.itemWrap .note {
  width: 711px;
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999999;
}
.gotoWrap {
  width: 230px;
  height: 30px;
  margin: 40px auto 0;
}
.gotoWrap .preStep {
  display: block;
  float: left;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #999999;
}
.gotoWrap .nextStep {
  display: block;
  width: 100px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 50px;
  background-color: #ff9934;
}
