@charset "UTF-8";
.position {
  width: 1200px;
  margin: 0 auto;
  padding:10px 0;
}
body{
	background-color:#ffffff!important;
}
.tab {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid #d2d2d2;
}
.tab ul li {
  width: 1200px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
}
.tab ul li div:first-of-type {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
  width: 110px;
  font-size: 14px;
  background-color: #ececec;
  color: #787878;
}
.tab ul li div:last-of-type {
  float: left;
  margin-left: 110px;
  width: 1088px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
}
.tab ul li div:last-of-type a {
  color: #181412;
  margin-right: 30px;
}
.tab ul li:last-of-type {
  border-bottom: 0;
}
.ranking {
  width: 1200px;
  margin: 20px auto 10px;
  border: 1px solid  #d2d2d2;
  padding: 8px 10px;
}
.ranking span {
  display: block;
  float: left;
  height: 24px;
  line-height: 22px;
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  cursor: pointer;
}
.ranking span:nth-child(1) {
  background-color: #fd9a32;
  color: #ffffff;
}
.ranking span:last-of-type {
  position: relative;
  padding-right: 18px;
}
.ranking span:last-of-type .up {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 9px;
  height: 6px;
  background: url("../image/priceUPanddown .png");
  background-position: 0 0;
}
.ranking span:last-of-type .down {
  position: absolute;
  bottom: 4px;
  right: 6px;
  width: 9px;
  height: 6px;
  background: url("../image/priceUPanddown .png");
  background-position: 0 -7px;
}
.ProductLists {
  width: 1200px;
  margin: 0 auto;
}
.ProductLists li {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 224px;
  height: 297px;
  border: 1px solid #d2d2d2;
}
.ProductLists li img {
  width: 100%;
  height: 222px;
  display: block;
}
.ProductLists li p:first-of-type {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  color: #d73535;
}
.ProductLists li p:last-of-type {
  margin-top: 5px;
  padding: 0 10px;
  font-size: 12px;
  color: #191514;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProductLists li:nth-child(5n) {
  margin-right: 0;
}
.page_wrap {
  width: 1200px;
  margin: 60px auto 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pageGoto {
  width: 620px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
}
.pageGoto li {
  float: left;
}
.pageGoto li:nth-child(1),
.pageGoto li:nth-child(4) {
  position: relative;
  width: 84px;
  height: 36px;
  font-size: 14px;
  color: #cfcfcf;
  border: 1px solid #cbcbcb;
  cursor: pointer;
}
.pageGoto li:nth-child(1) {
  padding-left: 32px;
}
.pageGoto li:nth-child(1) .pre {
  position: absolute;
  width: 17px;
  height: 11px;
  background: url("../image/pre.png");
  top: 13px;
  left: 12px;
}
.pageGoto li:nth-child(4) {
  padding-left: 7px;
  padding-right: 30px;
}
.pageGoto li:nth-child(4) .next {
  position: absolute;
  width: 17px;
  height: 11px;
  background: url("../image/next.png");
  top: 12px;
  right: 10px;
}
.pageGoto li:nth-child(1) {
  margin-right: 20px;
}
.pageGoto li:nth-child(2) span {
  float: left;
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  cursor: pointer;
}
.pageGoto li:nth-child(2) span:first-of-type {
  border-left: 1px solid #cbcbcb;
}
.pageGoto li:nth-child(2) .pageActive {
  border: 0;
  color: #ffffff;
  background-color: #999999;
}
.pageGoto li:nth-child(3) span {
  display: block;
  float: left;
  text-align: center;
}
.pageGoto li:nth-child(3) span:first-of-type {
  width: 16px;
  height: 36px;
}
.pageGoto li:nth-child(3) span:last-of-type {
  width: 36px;
  height: 36px;
  font-size: 18px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  border-left: 1px solid #cbcbcb;
}
.pageGoto li:nth-child(5) {
  font-size: 14px;
  color: #787777;
  padding-left: 10px;
}
.pageGoto li:nth-child(5) input {
  width: 36px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #cbcbcb;
  color: #787777;
}
.pageGoto li:nth-child(5) span:last-of-type {
  display: inline-block;
  width: 40px;
  height: 16px;
  background-color: #999999;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
